@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #020617; /* slate-950 */
  color: white;
  min-height: 100vh;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Ubuntu, Cantarell, "Helvetica Neue", Arial;
}

.input {
  width: 100%;
  padding: 12px;
  margin-bottom: 8px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 12px;
  outline: none;
  border: none;
  color: white;
}
